/*#FFE302 - amarelo*/
/*#00ADF0 - azul*/
/*#EE5BA0 - rosa*/
/*#493382 - roxo*/

body {
  background-color: #FFE302;
  font-weight: bold;
}

.nav-extended.color-default {
  background-color: #00ADF0;
}

.page-footer.color-default {
  background-color: #493382;
}

.page-video-color-default{
  background-color: #00ADF0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.video
{
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.brand-logo {
  margin-left: 30px;
}

.page-cards-color-default{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.card {
  background-color: #00ADF0;
  margin: 30px;
}

.card-action.action-color {
  color: #493382;

}

.text-hero {
  margin: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-hero h1 {
  color: #EE5BA0;
}

.btn.color-default {
  background-color: #493382;
}

.btn.color-pink {
  background-color: #EE5BA0;
}
