/*#FFE302 - amarelo*/
/*#00ADF0 - azul*/
/*#EE5BA0 - rosa*/
/*#493382 - roxo*/

body {
  background-color: #FFE302;
}

.nav-extended.color-default {
  background-color: #00ADF0;
}

.page-footer.color-default {
  background-color: #493382;
}

.brand-logo {
  margin-left: 30px;
}

.card {
  background-color: #00ADF0;
  margin: 30px;
}

.card-action.action-color {
  color: #493382;
}

.text-hero {
  margin: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.text-hero h1 {
  color: #EE5BA0;
}

.btn.color-default {
  background-color: #493382;
} 
